body {
    /* background-color: rgb(34, 34, 34); */
    font-family: 'Markazi Text', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    /* border: 10px solid rgb(56, 53, 53); */
}

.myheader {
    background-color: rgba(245, 242, 239, 0.658)
}

.olga {
    color:rgb(56, 53, 53);
}

.projects {
    height: 200px;
    width: 400px;
    background-color: bisque;
}

h3 {
    color: black;
}

.mymargins {
    margin-top: 10%;
    margin-bottom: 10%;
}

p {
    color:rgb(56, 53, 53);
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}



  h1 {
font-size: 70px;
  }

  .cardStyle {
      color: black;
  }

.contact {
    color: black;
    margin-top: 25px;
}

.icons {
    color:rgb(56, 53, 53);


}

.mypic {
    height: 150px;
    width: 150px;
    margin: 20px;

}

.myimg {
width: 400px;
height: 290px;
}

.myfooter {
    /* background-color: rgba(245, 242, 239, 0.658); */
    height: 350px;
    /* width: 9000px; */
    margin-top: 10%;
    width: 100%;
    /* padding: 20px; */
}

a:hover {
    text-decoration:none;
    color: black;
 }
/* .mymargin {
 margin: 0 auto;
} */
/* .box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
} */




.myp {
    font-size: 13px;
}